extends ../layouts/default
include ../components/control/control
include ../components/tab-sections/tab-sections
include ../components/popup/popup

block vars
    -pageSettings.title = 'Главная';

block content
    +control()
    +tab-sections()
    +popup()